<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Init</servlet-name>
		<servlet-class>fr.keepplayin.controller.Init</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Profil</servlet-name>
		<servlet-class>fr.keepplayin.controller.Profil</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>fr.keepplayin.controller.Connexion</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Publi</servlet-name>
		<servlet-class>fr.keepplayin.controller.Publi</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Recherche</servlet-name>
		<servlet-class>fr.keepplayin.controller.Recherche</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Comm</servlet-name>
		<servlet-class>fr.keepplayin.controller.Comm</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Demande</servlet-name>
		<servlet-class>fr.keepplayin.controller.Demande</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Modification</servlet-name>
		<servlet-class>fr.keepplayin.controller.Modification</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AjoutAmi</servlet-name>
		<servlet-class>fr.keepplayin.controller.AjoutAmi</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SupprimerAmi</servlet-name>
		<servlet-class>fr.keepplayin.controller.SupprimerAmi</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ModifInstrument</servlet-name>
		<servlet-class>fr.keepplayin.controller.ModifInstrument</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>fr.keepplayin.controller.Deconnexion</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AfficheInstrument</servlet-name>
		<servlet-class>fr.keepplayin.controller.AfficheInstrument</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>Init</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Profil</servlet-name>
		<url-pattern>/profil</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Publi</servlet-name>
		<url-pattern>/publi</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Recherche</servlet-name>
		<url-pattern>/recherche</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Comm</servlet-name>
		<url-pattern>/comm</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Demande</servlet-name>
		<url-pattern>/demandeAmi</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SupprimerAmi</servlet-name>
		<url-pattern>/supprimerAmi</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Modification</servlet-name>
		<url-pattern>/modif</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ModifInstrument</servlet-name>
		<url-pattern>/modifInstrument</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AjoutAmi</servlet-name>
		<url-pattern>/ajoutAmi</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AfficheInstrument</servlet-name>
		<url-pattern>/instrument</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>Init</welcome-file>
	</welcome-file-list>
	
	<filter>
    	<filter-name>ObjectifyFilter</filter-name>
    	<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>ObjectifyFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
