/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.label-as-badge {
    border-radius: 1em;
    margin-bottom: 5px;
}

.icon-menu {
	
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .jumbo {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.form-inscription{
  padding-bottom: 20px;
}

.input-mail{
  width: 387px;
  height: 35px;
  padding: 5px;
}

.input-password{
  height: 35px;
  width : 387px;
  padding: 5px;
}

.input-name{
  height: 35px;
  padding: 5px;
  width: 192px;
}

footer{
  text-align: center;
}

legend{
  font-size: 250%;
  font-weight: bold;
}

.gender{
  padding-right: 5px;
}

.index-container{
  padding-top: 100px;
}

.welcome{
  font-size: 350%;
  font-weight: bolder;
}

.profil-container{
  padding-top: 50px;
  /*border: 1px solid;*/
  /*border-radius: 25px;*/
  padding-bottom: 10px;
  border-color: lightgrey;
}

.infos-profil{
  /*border:2px solid;*/
  padding: 0px;
  border-color :grey;
}

.photo-profil{
  padding: 0px;

}

.resultats-recherche{
  margin-top: 50px;
}

.photo{
  width:150px;
  height:150px;
  padding: 0px;
  border: 0px solid;
  border-radius: 25px;
}

.names{
  font-size: 150%;
  font-weight: bold;
}

.pseudo{
  font-size: 100%;
  font-style: italic;
}

.names-profil{
  padding: 0px;
}

.pseudo-profil{
  padding: 0px;
}

.photo-container{
  padding: 5px;
}

.birthday-profil{
  padding :0px;
}

.divider-vertical {
    border-left: 1px solid #D3DDE8;
}

.full_size {
  margin-left: -4px;
  margin-top : -5px;
}

.images_test {
  width:261px;
  height:207px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image_profile{
  position: absolute;
  width:100px;
  height:100px;
  margin-left: 80px;
  margin-top: -80px;
}

.image-accueil{
 /* background-color: grey;*/
  background: #000 url("../music-world-wide.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
  text-shadow: #000000 2px 2px, #000000 -1px 2px, #000000 -1px -1px, #000000 2px -1px;
}

.badge-custom{
  /*padding:3px;*/
  margin-left:10px;
}

.msg-home{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 000f, 1px -1px 0 #000, -1px 1px 0 #000;
  font-size: 24;
}

body {
  background-color: #f2f2f2;
}

.border {
  border: 1px 1px 1px 1px solid #ddd;
}

.border_comment {
  border: 0px 1px 1px 1px solid #ddd;
}

.shadow {
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.shadow_comment {
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.size32 {
  width:32px;
  height:32px;
}

.image_post {
  border-radius: 5px;
  margin-top: -6px;
}

.padding_top {
  padding-top: 10px;
}

.margin_comment{
  margin-top:-16px;
}

.post-options{

}

.connexion-form{
  margin-top: 100px;
}

.vertical-resize {
  resize: vertical;
}

.height-105 {
  height: 105px;
}

.height-publi{
  height: 70px;
}

.height-comment{
  height: 50px;
}

#test {
  height: 105px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.avatar_post {
  width:80px;
  height:80px;

}

.publi{
  resize:none;
}

.text-publi{
  font-size:12px;
}

.name-publi{
  font-size: 14px;
  font-weight: bold;
}

.text-comment{
  font-size: 10px;
}

.name-comment{
  font-size: 12px;
  font-weight: bold;
}

.error{
  color: red;
  font-weight: bold;
}

.green{
  color: green;
}

.red{
  color: red;
}

.infos-details{
  margin-top: 20px;
}

.cliquable:hover{
  cursor: pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
